altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
docopt==0.6.2
filelock==3.9.0
huggingface-hub==0.13.3
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
mpmath==1.2.1
networkx==3.0
numpy==1.24.1
packaging==23.0
pefile==2023.2.7
Pillow==9.3.0
pipreqs==0.4.11
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2023.3.23
requests==2.28.1
sentencepiece==0.1.97
sympy==1.11.1
tokenizers==0.13.3
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
tqdm==4.65.0
transformers==4.27.4
typing-extensions==4.4.0
urllib3==1.26.13
yarg==0.1.9